body {
    padding: 0;
    margin: 0;
    font-family: verdana;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
     margin-left: 240px;
     margin-top: 180px;
     border: 1px solid;
     border-radius: 30px;
     opacity: 12;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
     
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.digit {
    font-size: 80px;
    color: #000000;
}

.txt {
    font-size: 30px;
    color: #fffcd6;
}

#buttons {
    margin-top: 50px;
}

.btn {
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}

#start {
    background-color: #08dfb4;
}
#start:hover{
 background-color: #000000;
 transform: scale(1.1);
  
}

#stop {
    background-color: #64b2ff;
}
#stop:hover {
    background-color: #000000;
    transform: scale(1.1);
}

#reset {
    background-color: #ba25ff;
}
#reset:hover {
    background-color: #000000;
    transform: scale(1.1);
}
footer{
    margin-top: 150px;
    font-weight: bolder;
}